My HeartString
<br>
<li> <%= @heart_string.user.name %> </li>
      &&&&&
<li> <%= @heart_string.tomodachi.name %> </li>


Chats
<ul>
<p> <%= link_to 'START CHAT', start_chat_path(@heart_string) %> </p>
