❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
<h1> ❤️❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️  welcome, <%= current_user.name.capitalize %>! ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ </h1>
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️


<h4><%= link_to "make a heartstring 💕", new_heart_string_path %></h4>

<h4> 💕 your tomodachis: 💕</h4>
<ul>
  <% current_user.heart_strings.each do |heart_string| %>
  <br>
  <br>  ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
   <br> ❤️ ❤️ ❤️   😍 <%= link_to heart_string.tomodachi.name, heart_string_path(heart_string) %>  ❤️ ❤️ ❤️
   <br>❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
  <% end %>
</ul>
